<div class="container">

<%= render 'shared/flash' %>

  <div class="row">
    <div class="col-12">
      <%= form_for(:session, url: login_path) do |f| %>
        <div class="form-group">
          <label for="email"><span class="badge badge-danger">必須</span>メールアドレス</label>
          <%= f.email_field :email, class: "form-control " %>
        </div>
        <div class="form-group">
          <label for="password"><span class="badge badge-danger">必須</span>パスワード</label>
          <%= f.password_field :password, class: "form-control " %>
        </div>

        <div class="form-group">
          <%= f.label :remember_me, class: "checkbox" do %>
          <p><%= f.check_box :remember_me %>次回から自動でログインする</p>
          <% end %>
        </div>

        <%= f.submit "ログインする" , class: "btn btn-primary"  %>

      <% end %>
    </div>
  </div>
</div>