<header class="blog-header py-3" style="background-color: #eae6e4;">
  <div class="container">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <%= link_to 'おにき治療院', root_path, class: "text-muted" %>
      </div>
      <div class="col-8 d-flex justify-content-end align-items-center">
        <% if logged_in? %>
          <%= link_to 'マイページ', user_path(current_user), class: 'btn btn-sm btn-secondary' %>
          <%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-sm btn-outline-secondary' %>
        <% else %>
          <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-sm btn-secondary' %>
          <%= link_to 'ログイン', login_path, class: 'btn btn-sm btn-outline-secondary' %>
        <% end %>
      </div>
    </div>
  </div>
</header>

<div class="nav-scroller py-1 mb-2" style="background-color: #eae6e4;">
<div class="container">
  <nav class="navbar">
    <form class="form-inline">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
    <div class="justify-content-end">
      <%= link_to '診療予約', '#', class: "p-2 text-muted justify-content-end" %>
      <%= link_to '予約確認', '#', class: "p-2 text-muted justify-content-end" %>
    </div>
  </nav>
</div>
</div>